<div class="page-header">
  <div class="page-title">
    <h3>Control Panel <small>Home</small></h3>
  </div>
  <div id="reportrange" class="range">
    <div class="visible-xs header-element-toggle">
      <a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a>
    </div>
    
  </div>
</div>
<!-- Breadcrumbs line -->

<div class="breadcrumb-line">
  <ul class="breadcrumb">
     <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ul>
  <div class="visible-xs breadcrumb-toggle">
    <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
  </div>

  <ul class="breadcrumb-buttons collapse"></ul>
</div>


<div class="callout callout-default fade in">
  <h5>Home</h5>
</div>
      <!-- /breadcrumbs line -->     